os: linux
dist: xenial
language: rust
jobs:
  include:
    - stage: test
      name: "Build and test root: stable"
      rust: stable
      before_install:
        - ./travis_install_protobuf.sh
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test
      name: "Build and test root: nightly"
      rust: nightly
      before_install:
        - ./travis_install_protobuf.sh
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test
      name: "Check formatting: nightly"
      rust: nightly-2020-11-24
      before_install:
        - rustup component add rustfmt-preview
      script:
        - cargo fmt --all -- --check
    - stage: test-features
      rust: stable
      name: "Test feature matrix: stable"
      #env:
      #  RUSTFLAGS: -D warnings
      before_install:
        - ./travis_install_protobuf.sh
        - rustup component add clippy
      script:
        - ./clippy-extra.sh
        - cd core
        - ./test-feature-matrix.sh
    - stage: test-features
      rust: stable
      name: "Test ignored feature matrix: stable"
      #env:
      #  RUSTFLAGS: -D warnings
      before_install:
        - ./travis_install_protobuf.sh
        - rustup component add clippy
      script:
        - cd core
        - ./test-feature-matrix.sh --ignored
    - stage: test-features
      rust: nightly
      name: "Test feature matrix: nightly"
      env:
        RUSTFLAGS: "-D warnings"
      before_install:
        - ./travis_install_protobuf.sh
        - rustup component add clippy
      script:
        - ./clippy-extra.sh
        - cd core
        - ./test-feature-matrix.sh
    - stage: test-features
      rust: nightly
      name: "Test ignored feature matrix: nightly"
      env:
        RUSTFLAGS: "-D warnings"
      before_install:
        - ./travis_install_protobuf.sh
        - rustup component add clippy
      script:
        - cd core
        - ./test-feature-matrix.sh --ignored
    - stage: coverage
      name: "Test Coverage"
      before_install:
        - ./travis_install_protobuf.sh
        - curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-linux-x86_64.tar.bz2 | tar jxf -
        - rustup component add clippy
      rust: nightly
      script:
        - export CARGO_INCREMENTAL=0
        - export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests -Cpanic=abort"
        - export RUSTDOCFLAGS="-Cpanic=abort"
        - cargo build --verbose $CARGO_OPTIONS
        - cd core
        - ./test-feature-matrix.sh
        - cd ..
        - |
          zip -0 ccov.zip `find . \( -name "kompact*.gc*" -not -name "kompact_examples*.gc*" \) -print`;
          ./grcov ccov.zip -s . -t lcov --llvm --branch --ignore-not-existing --ignore "/*" -o lcov.info;
          bash <(curl -s https://codecov.io/bash) -f lcov.info;
    - stage: deploy
      rust: nightly
      name: "Github Release"
      # make sure mdbook is installed
      before_install:
        - ./travis_install_protobuf.sh
        - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
        - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.3" mdbook)
      script: mdbook build docs
      deploy:
        provider: pages
        edge: true
        cleanup: false
        token: $GITHUB_TOKEN
        local_dir: docs/book
        keep_history: false
        on:
          branch: master
