# make sure protobuf library and mdbook are installed for build to succeed
before_install:
  - ./travis_install_protobuf.sh
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.3" mdbook)
  #- (test -x $HOME/.cargo/bin/mdbook-linkcheck || cargo install mdbook-linkcheck)
#  - cargo install-update -a

os: linux
dist: xenial
language: rust
jobs:
  allow_failures:
    - if: rust = nightly
  include:
    - stage: test
      name: "Build and test root: stable"
      rust: stable
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test # remove this stage when nightly passes
      name: "Build and test root: nightly-2020-09-21"
      rust: nightly-2020-09-21
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test
      name: "Build and test root: nightly"
      rust: nightly
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test-features
      rust: stable
      name: "Test feature matrix: stable"
      script:
        - cd core
        - ./test-feature-matrix.sh
    - stage: test-features
      rust: nightly
      name: "Test feature matrix: nightly"
      script:
        - cd core
        - ./test-feature-matrix.sh
    - stage: test-features  # remove this stage when nightly passes
      rust: nightly-2020-09-21
      name: "Test feature matrix: nightly"
      script:
        - cd core
        - ./test-feature-matrix.sh
    - stage: deploy
      rust: nightly
      name: "Github Release"
      script: mdbook build docs
      deploy:
        provider: pages
        edge: true
        cleanup: false
        token: $GITHUB_TOKEN
        local_dir: docs/book
        keep_history: false
        on:
          branch: master
