# make sure protobuf library and mdbook are installed for build to succeed
before_install:
  - ./travis_install_protobuf.sh
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.3" mdbook)
  - curl -L https://github.com/mozilla/grcov/releases/latest/download/grcov-linux-x86_64.tar.bz2 | tar jxf -

os: linux
dist: xenial
language: rust
jobs:
  include:
    - stage: test
      name: "Build and test root: stable"
      rust: stable
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test
      name: "Build and test root: nightly"
      rust: nightly
      script:
        - cargo build --verbose --all
        - cargo test --verbose --all
    - stage: test-features
      rust: stable
      name: "Test feature matrix: stable"
      script:
        - cd core
        - ./test-feature-matrix.sh
    - stage: test-features
      rust: nightly
      name: "Test feature matrix: nightly"
      script:
        - export CARGO_INCREMENTAL=0
        - export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off"
        - cargo build --verbose --all $CARGO_OPTIONS
        - cargo test --verbose --all $CARGO_OPTIONS
        - cd core
        - ./test-feature-matrix.sh
        - cd ..
        - |
          zip -0 ccov.zip `find . \( -name "kompact*.gc*" \) -print`;
          ./grcov ccov.zip -s . -t lcov --llvm --branch --ignore-not-existing --ignore "/*" -o lcov.info;
          bash <(curl -s https://codecov.io/bash) -f lcov.info;
    - stage: deploy
      rust: nightly
      name: "Github Release"
      script: mdbook build docs
      deploy:
        provider: pages
        edge: true
        cleanup: false
        token: $GITHUB_TOKEN
        local_dir: docs/book
        keep_history: false
        on:
          branch: master
