[package]
name = "kompact"
version = "0.9.0"
authors = ["Lars Kroll <lkroll@kth.se>", "Johan Mickos <johanmi@kth.se>", "Max Meldrum <mmeldrum@kth.se>"]
edition = "2018"

description = "Kompact is a Rust implementation of the Kompics component model combined with the Actor model."

# documentation = "..."
homepage = "http://kompics.sics.se"
repository = "https://github.com/kompics/kompact"
readme = "../README.md"
keywords = ["actor", "kompics", "component", "async"]
categories = ["asynchronous", "concurrency", "network-programming"]
license = "MIT"

[badges]
# Maintenance: `status` is required Available options are `actively-developed`,
# `passively-maintained`, `as-is`, `none`, `experimental`, `looking-for-maintainer`
# and `deprecated`.
maintenance = { status = "actively-developed" }

[features]
default = ["serde","slog/max_level_trace", "slog/release_max_level_info", "ser_id_64"]
silent_logging = ["serde", "slog/max_level_info", "slog/release_max_level_error"]
low_latency = ["executors/ws-no-park"]
ser_id_64 = []
ser_id_32 = []
ser_id_16 = []
ser_id_8 = []
thread_pinning = ["core_affinity"]

[dependencies]
log = "0.4"
kompact-component-derive = { version="0.9.0", path = "../macros/component-definition-derive/" }
kompact-actor-derive = { version="0.9.0", path = "../macros/actor-derive/" }
crossbeam-channel = "0.3"
crossbeam-queue = "0.1"
crossbeam-utils = "0.6"
arc-swap = "0.3"
synchronoise = "1.0"
uuid = { version = "0.8", features = ["v4"] }
time = "0.1"
as_num = "0.2"
num_cpus = "1.10"
oncemutex = "0.1.1"
sequence_trie = "0.3"
slog = {version = "2"}
slog-async = "2"
slog-term = "2"
fxhash = "0.2.1"
fnv = "1.0"
hocon = {version = "0.3", default-features = false}

# Optional
protobuf = {version = "2", optional = true, features = ["with-bytes"]}
serde = {version = "1.0", optional = true}
core_affinity = {version = "0.5.9", optional = true}

# Network-specific
bytes = "0.5.3"
futures = "0.1.2"
bitfields = "0.2"
mio = "0.6.20"
iovec = "0.1.1" # Match MIOs Version

[dependencies.executors]
version = "0.5"
default_features = true
#git = "https://github.com/Bathtor/rust-executors"
#branch = "master"

#[dependencies.spaniel]
#git = "https://github.com/jarlopez/spaniel"
#branch = "master"

#[dependencies.bitfields]
#git = "https://github.com/jarlopez/bitfields-rs"
#branch = "master"


[dev-dependencies]
#env_logger = "0.4"
tempfile = "3.1"
